/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
ul li {
  list-style-type: none;
}
body {
  background: linear-gradient(45deg, #24ff72, #2196f3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="checkbox"] {
  display: none;
}
.wrapper {
  position: relative;
}


/* Front Center */
.frontCenter {
  width: 349px;
  height: 300px;
  background: linear-gradient(135deg, #ffec61, #f321d7);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  z-index: 99;
  transition: all 0.5s;
}
.centerImage {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -50px;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: transform 0.5s;
}
.centerImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.centerContent {
  color: #eee;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}
.centerContent h1 {
  font-size: 16px;
}
.centerContent div {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
  padding: 7px;
  margin-top: 5px;
  font-weight: lighter;
}
.sosmed {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 25px;
  margin-top: 20px;
}
.sosmed li a {
  display: block;
  padding: 7px 8px;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}
.sosmed li a:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
}
.sosmed i {
  color: #eee;
  font-size: 28px;
}
.wa {
  background: #0dc143;
}
.ig {
  background: linear-gradient(45deg, #f2a105, #ec06c7);
}
.github {
  background: #1a1e22;
}

/* Behind */
.behindLeft, .behindRight {
  text-align: left;
  font-size: 14px;
  height: 250px;
  width: 500px;
  padding: 25px;
  position: absolute;
  top: 25px;
  transform: scaleX(0.1);
  overflow: hidden;
  z-index: 0;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s ease 0.5s;
}
.behindLeft {
  color: #555;
  background: #eee;
  padding-left: 70px;
  border-radius: 0 15px 15px 0;
  right: 0;
}
.behindRight {
  color: #555;
  background: #eee;
  padding-right: 70px;
  border-radius: 15px 0 0 15px;
  left: 0;
  display: flex;
  justify-content: flex-start;
}
.behindLeft h2, .behindRight h2 {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
}
.behindRight b {
  display: block;
  margin-top: 3px;
}
/* Behind Right Content */
.pendidikan {
  width: 45%;
}
.pengalaman {
  width: 55%;
}
.pengalaman li {
  display: inline-block;
  margin: 7px 5px 15px 0;
  padding: 10px;
  padding-bottom: 8px;
  border-radius: 50%;
  position: relative;
}
.pengalaman i {
  font-size: 16px;
  color: #eee;
}
.html {
  background-color: #dd4b25;
}
.css {
  background-color: #3595cf;
}
.js {
  background-color: #e8d44d;
}
.cpp, .c {
  background: linear-gradient(135deg, #6295cb, #00427e);
}
.trophy {
  background-color: #f3c21c;
}
.cpp i {
  transform: translateX(-3px);
}
.cpp div {
  font-size: 10px;
  letter-spacing: 0;
  color: #eee;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}
.pengalaman span {
  position: relative;
}
.pengalaman span:hover::after {
  position: absolute;
  content: attr(data-title);
  padding: 5px;
  border: 1px solid #555;
  top: 15px;
  left: 5px;
  background-color: rgba(225, 225, 225, 0.8);
  color: #555;
  z-index: 99;
}


/* Button */
.buttonLeft, .buttonRight {
  font-family: monospace;
  font-weight: bolder;
  color: #555;
  background-color: #eee;
  border-radius: 50%;
  padding: 5px 8px;
  position: absolute;
  bottom: 15px;
}
.buttonLeft:hover, .buttonRight:hover {
  color: #eee;
  background: #555;
  padding: 2px 5px;
  border: 3px solid #eee;
  cursor: pointer;
}
.buttonLeft {
  left: 10px;
}
.buttonRight {
  right: 10px;
}
.exitLeft, .exitRight {
  font-family: monospace;
  font-weight: bolder;
  color: #eee;
  background-color: #ea6d7e;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 0;
  z-index: 2;
  display: none;
}
.exitLeft:hover, .exitRight:hover {
  color: #ea6d7e;
  background: #eee;
  line-height: 24px;
  border: 3px solid #ea6d7e;
  cursor: pointer;
}
.exitLeft {
  right: 0;
}
.exitRight {
  left: 0;
}

/* Transition */
#left:checked ~ .wrapper .behindLeft, #right:checked ~ .wrapper .behindRight {
  animation-name: visibly;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  opacity: 1;
  z-index: 1;
  transform: scaleX(1);
}
#left:checked ~ .wrapper .frontCenter {
  transform: matrix(0.571, 0, 0, 1, -375, 0);
  /* transform: matrix(scaleX, skewY, skewX, scaleY, translateX, translateY); */
}
#right:checked ~ .wrapper .frontCenter {
  transform: matrix(0.571, 0, 0, 1, 375, 0);
}
#left:checked ~ .wrapper .centerImage, #right:checked ~ .wrapper .centerImage {
  transform: matrix(1.752, 0, 0, 1, 0, 125);
}
#left:checked ~ .wrapper .centerContent, #right:checked ~ .wrapper .centerContent {
  display: none;
}
#left:checked ~ .wrapper .exitLeft, #right:checked ~ .wrapper .exitRight {
  display: block;
}

@keyframes visibly {
  0% {opacity: 0;}
  1% {opacity: 0.999;}
  100% {opacity: 1;}
}

/* Responsive */
/* @media only screen and (max-width: 450px) {
  .frontCenter {
    transition: none;
  }
  .centerImage {
    transition: none;
  }
  .behindLeft, .behindRight {
    transition: none;
  }
} */

@media only screen and (max-width: 1114px) {
  #left:checked ~ .wrapper .frontCenter, #right:checked ~ .wrapper .frontCenter {
    transform: matrix(1, 0, 0, 0.67, 0, -175);
    border-radius: 20px 20px 0 0;
  }
  #left:checked ~ .wrapper .centerImage, #right:checked ~ .wrapper .centerImage {
    transform: matrix(1, 0, 0, 1.493, 0, 125);
  }
  .behindLeft, .behindRight {
    top: -40%;
    width: 349px;
    height: 300px;
    padding: 30px 20px;
    transform: scaleY(0.1);
    border-radius: 20px;
    opacity: 1;
    transition: none;
    transition: transform 0.5s;
  }
  #left:checked ~ .wrapper .behindLeft, #right:checked ~ .wrapper .behindRight  {
    animation: none;
    transform: matrix(1, 0, 0, 1, 0, 195);
    border-radius: 0 0 15px 15px;
  }
  .pendidikan {
    width: 50%;
  }
  .pengalaman {
    width: 50%;
  }
}